/* Обнуляющий стиль */

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}


h1, 
h2,
h3, 
h4, 
h5, 
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body{
    height: 100%;
    line-height: 160%;
    font-size: 16px;
    font-weight: 400;
    color:white;
}
.wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.container {
    background-color: #0a0909;
    max-width: 1460px;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;

}

.app{
    display: grid;
    grid-template-areas:
    "header header header"
    "sidebar content profile"
    "footer footer footer"
;
    grid-template-rows: 90px 1fr 70px;
    grid-template-columns: 1fr 5fr 2fr;
}

.header{
    grid-area: header;
    background-color: rgba(9, 8, 8, 0.14);
    border-top: 1px solid #c9cbce;
    border-bottom: 1px solid #c9cbce;
}

.sidebar{
    grid-area: sidebar;
    /*border-right: 1px solid #c9cbce;*/
    height: 100vh;
    width: 200px;
}

.content{
    grid-area: content;

}

.profile{
    grid-area: profile;
    height: 100vh;
    /*border-left:1px solid #c9cbce;*/
    margin-bottom: 30px;

}

.footer{
    grid-area: footer;
    border-top: 1px solid #c9cbce;
    border-bottom: 1px solid #c9cbce;
}